@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Unica+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "Montserrat", sans-serif;
	}
}

@layer utilities {
	.pry-color {
		background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
	}
	.pry-black {
		background-color: #150e28;
	}
	.sec-color {
		background-color: #903aff;
	}
	.ter-color {
		background-color: #d434fe;
	}
}
