@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pry-color {
        background: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
    }
    .pry-black {
        background-color: #150E28;
    }
    .sec-color {
        background-color: #903AFF;
    }
    .ter-color {
        background-color: #D434FE;
    }
}